[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
blueprint-webapp-flask = {editable = true,extras = ["dev"],path = "."}

[packages]
blueprint-webapp-flask = {editable = true,path = "."}

[requires]
python_version = "3.6"

[scripts]
start="honcho start -f Procfile.dev"